html, body {
  height: 100%;
}

root {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  display: flex;
  flex: 1;
}

nav {
  flex: 0 0 auto;
}

article {
  flex: 1;
}
