<header>
  <h1>{{ ::ctrl.raml.title }}</h1>
  <h2>{{ ::ctrl.raml.baseUri }}</h2>
</header>

<div class="container">
  <nav class="mainnav">
    <h3>Documentation</h3>
    <ul class="stylelesslist">
      <li ng-repeat="doc in ::ctrl.raml.documentation">
        <a ui-sref="root.documentation({'#': 'c' + $index})" ui-sref-opts="{reload: true}">{{ ::doc.title }}</a>
      </li>
    </ul>

    <h3>Reference</h3>
    <ul class="stylelesslist">
      <li ng-repeat="resource in ::ctrl.raml.resources">
        <a ui-sref="root.rootresource({rootResourceId: resource.uniqueId})" ui-sref-active="active">{{ ::resource.relativeUri }}</a>
      </li>
    </ul>
  </nav>

  <div ui-view class="container"></div>
</div>
